.movielist {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-3 {
    width: 25%; /* 4 columns per row */
    padding: 10px;
}

.content-box {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.content-box img {
    max-width: 100%;
    height: auto;
}


.button {
    margin: 10px;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    background-color: #668286; 
    color:whitesmoke; 
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 

    }

.button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
